body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #ececf3;
    color: black;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
}
.sidebar a {
    display: block;
    color: black;
    padding: 10px 0;
}
.sidebar a:hover {
    background-color: #575757;
}
.content {
    margin-left: 330px;
    width: 50px;
    padding: 20px;
    text-align: center;
    flex-grow: 1;
    background-color: #edeaea;
    border-radius: 25px;
    height: 750px;
}