body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
}
.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #f3f1ec;
    color: black;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
}
.sidebar a {
    display: block;
    color: black;
    padding: 10px 0;
}
.sidebar a:hover {
    background-color: #575757;
}
.content {
    margin-left: 270px;
    padding: 20px;
    text-align: center;
    flex-grow: 1;
}
.calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.calendar {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}
.table-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5cm;
    border: 1px solid black;
    border-radius: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}
th {
    background-color: #f8f8f8;
}
#sliderContainer {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    flex-direction: column;
    align-items: center;
    position: relative;
}
#valueSlider {
    width: 200px;
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    border-radius: 5px;
    background: linear-gradient(to right, red, yellow, green);
    outline: none;
    opacity: 0.9;
    transition: opacity .15s ease-in-out;
    border: 2px solid black;
}
#valueSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: black;
    border-radius: 50%;
    cursor: pointer;
}
#valueSlider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: black;
    border-radius: 50%;
    cursor: pointer;
}
#valueSlider:hover {
    opacity: 1;
}
#sliderLabel {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: black;
}